

<fieldset style="width:600px">
<legend >{{Webssh|safe}}</legend>
	<div id="Hostattr_{{Random}}_tabs"  >
		<div title="执行" id="HostAction_{{Random}}_tab" style="width:300px" >
			<div id="radio_{{Random}}">
				<input type="radio" id="Hostattr_{{Random}}_CMD" name="radio" /><label for="{{Random}}_Hostattr_CMD">命令</label>
				<input type="radio" id="Hostattr_{{Random}}_script" name="radio" /><label for="{{Random}}_Hostattr_script">脚本</label>
			</div>
		
			<span id="Hostattr_{{Random}}_CMD_span">
				<form id="cmd_{{Random}}_form">
					<textarea id="CMD_{{Random}}" style="height:30px;width:200px" name='CMD'></textarea>
					<input id="runcmd_{{Random}}"  type="button" value="执行">
				</form>
			</span>
			
			<span id="Hostattr_{{Random}}_script_span">
				<form id="script_{{Random}}_form">
					<input type="hidden" id="runscript_{{Random}}"  value="执行">
					<input type="hidden"  id="scripttext_{{Random}}"  name='script' >
					{#%include "includes/scriptlist.html"%#}
				</form>
			</span>
		</div>
		<div id="Hostinfo_{{Random}}_tab" title="信息">
			<iframe  src='{{EditHostURL}}' width="400px"  height="500px" frameborder="0" marginwidth="0" marginheight="0"></iframe>
		</div>
		
		<div id="HostCron_{{Random}}_tab" style="width:500px" title="计划任务" data-options="href:'{{HostCronURL}}',closable:true" cache="alse">

		</div>	

		
	</div>
</fieldset>

<script>
 $(function() {
	$("#HostAction_{{Random}}_tab span").hide()	

	$("#Hostattr_{{Random}}_tabs").tabs({border:false});

	
	$("#Hostattr_{{Random}}_CMD").click(function(){
		$("#Hostattr_{{Random}}_CMD_span").show()
		$("#Hostattr_{{Random}}_script_span").hide()
		})
	$("#Hostattr_{{Random}}_script").click(function(){
		$("#Hostattr_{{Random}}_CMD_span").hide()
		$("#Hostattr_{{Random}}_script_span").show()
		})
	$("#Hostattr_{{Random}}_CMD").click()

 //---------------------------------------------
 
 $("#runcmd_{{Random}}").click(function(){
	if ($('#CMD_{{Random}}').val()){
		var Data=$('#cmd_{{Random}}_form').serialize()
		//var URL=(this).attr('url')
		var Value=$('#CMD_{{Random}}').val()
		result = confirm("确定运行命令吗?")
		if (result){
				var myDialog = art.dialog({top:50,content:"<h5>命令("+Value+")执行中..."+"<img src='/media/images/loading1.gif' style='height:25px'></h5><br><br>ps:时间过长才叉我哦!",lock:true,esc:false})
				function AjaxPost(){	
						$.ajax({ 
						type: "post", 
						url: "{{HostAttrURL}}", //本路径
						dateType: "json", 
						async:true,//同步模式
						data: Data,
						beforeSend:'',
						cache : false, 
						error:function(data){
								alert('错误了！')
								myDialog.content('<h3>发生错误！</h3>').lock().time(1)
							},
						success:function(data){
							onekeyurl='<a href="#" onclick="art.dialog({padding: 2,title:&quot;一键URL&quot;,content:&quot;<font size=1>'+Data+'</font>&quot;})" >OneKeyURL</a>'
							art.dialog({
								padding: 0,
								top:50,
								title:'执行结果',
								content: data+onekeyurl,
								});
							myDialog.content('<h3>命令执行完毕！</h3>').lock().time(1);	
							},
						
							})
					}

				setTimeout(AjaxPost,50)
				}
	}else{alert("没有命令！")}		
});

//----------------------------------------------------------
 $("#runscript_{{Random}}").click(function(){
	var Data=$('#script_{{Random}}_form').serialize()
	var Value=$('#scripttext_{{Random}}').val()
	result = confirm("确定执行"+Value+"吗?")
	if (result){
	if ($('#scripttext_{{Random}}').val()){
				var ret=[];var i=1;
				var myDialog = art.dialog({top:50,content:"<h5>脚本("+")执行中..."+"<img src='/media/images/loading1.gif' style='height:25px'></h5><br><br>ps:时间过长才叉我哦!",lock:true,esc:false})
				function AjaxPost(){	
						$.ajax({ 
						type: "post", 
						url: "{{HostAttrURL}}", //本路径
						dateType: "json", 
						async:true,//同步模式
						data: Data,
						beforeSend:'',
						cache : false, 
						error:function(data){
							alert('错误了！')
							myDialog.content('<h3>发生错误！</h3>').lock().time(1)
							},
						success:function(data){
							onekeyurl='<a href="#" onclick="art.dialog({padding: 2,title:&quot;一键URL&quot;,content:&quot;<font size=1>'+Data+'</font>&quot;})" >OneKeyURL</a>'
							art.dialog({
								padding: 0,
								top:50,
								title:'执行结果',
								content: data+onekeyurl,
								});
							myDialog.content('<h3>命令执行完毕！</h3>').lock().time(1);	
							},
					})
				}
				setTimeout(AjaxPost,50)
			}else{alert("没有命令！")}	
			
	}
});
 
 
 
 
 
 
 
 
 });
</script>

