<html>
<head>
{%include "jscss/loadbasejs.html"%}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<style type="text/css">
table.display td.Normal{
    padding: 3px 1px;
	text-align: center;
	}
.ui-tabs {
    padding: 0.2em;
    position: relative;
}
.ui-tabs .ui-tabs-nav li a {<!--tab字体的样式-->
    float: left;
    padding: 0.2em 0.5em;
    text-decoration: none;
	font-size: 15px;
}
.ui-tabs .ui-tabs-panel {
    padding: 0.4em 0.4em;
}
.ui-widget {<!--table字体-->
    font-family: ;
    font-size: 12px;
}

table.display  {
    border-bottom: 1px solid black;
	font-size: 10px;
}
#tabs ul{
height:25px
}
</style>
</head>
<body style="padding: 0px; margin: 0px">

<div id="tabs" >
	{% for t in TabUrl  %}{#增加tab#}
		<div title="{{t.1}}" cache="false" data-options="href:'{{t.0}}',closable:true"   style="padding:10px;"></div>
	{% endfor %}
</div>


<script charset="utf-8">
$("#tabs").tabs({fit:true,border:false})
</script>
</body>
</html>
