<html>
<head>
{%include "jscss/loadbasejs.html"%}

</head>
<body style="font-size:12;width:580px">
{%include "ajaxbutton.html"%}
{%include "ajaxjs.html"%}
<div id="addonekey_div">
	<form id="form_{{Random}}" method="post">
	<table   border="0" cellpadding="0" cellspacing="0">
    <thead><tr><th id="" style=""></th><th id="" style=""></th></tr></thead>
        <tbody>
        <tr id=""><td>名称</td><td><input name="onekeyname" value="{{o.onekeyname}}" style="width：100px" type="text"></td></tr>
        <tr id=""><td>验证</td><td><label></label>
            <select id="id_checktype" name="checktype">
                <option value="0" >无</option>
                <option value="1">验证</option>
               
            </select></td></tr><script> $("#id_checktype").val({{o.checktype}})</script>
        <tr id=""><td>分组</td><td><input name="onekeygroup" value="{{o.onekeygroup}}" style="width：100px" type="text"></td></tr>
        <tr id=""><td>描述</td><td><textarea name="onekeydescribe" style="width:400px;height:50px;font-size:12px">{{o.onekeydescribe}}</textarea></td></tr>
        </tbody>
    </table>
	<label>增加命令:</label><a id="AddOneKeyItem" href="javascript:void(0);">增加一项</a><br>
	{%for u in OneKeyUrl%}
	<div class="OneKeyItem">
		<input type="text" class="onekeyurl" name="onekeyurl" value="{{u}}" style="width:450px">
		<a href="javascript:void(0);" class="EditOneKeyItem">编辑</a>
		<a href="javascript:void(0);" class="DelOneKeyItem">删除</a>
	</div>
	{%endfor%}
	</form>
</div>

<div id="_Item">
	<span class="radio">
				<input type="radio" id="ChoiceCmd" name="radio" /><label for="ChoiceCmd">命令</label>
				<input type="radio" id="ChoiceScript" name="radio" /><label for="ChoiceScript">脚本</label>
	</span>
	<form id="Item_form">
	<div id="Rtop" style="clear: both;width:100%;height:100%">

		
		<label>连接超时:</label><select id="cmdtimeout" name="cmdtimeout">
				<option value ="10">10</option>
				<option value ="30">30</option>
				<option value ="60">60</option>
		</select>
				<label>线程:</label><select id="concurrency" name="concurrency">
				<option value ="150">150</option>
				<option value ="100">100</option>
				<option value ="50">50</option>
		</select>
		</select>
				<label>头信息:</label><select id="sshtitle" name="sshtitle">
				<option value ="0">否</option>
				<option value ="1">是</option>
		</select>
			{%include "includes/hostgroupselect.html"%}
		<br>
		<span id="scriptopt">
		<label>程序:</label>
			<input id="scripttype_{{Random}}" type='text' name='scripttype' style="width:50px">
		<label>后台:</label>
				<select id="daemon_{{Random}}" name="daemon">
				<option value ="0">否</option>
				<option value ="1">是</option>
		</select>
		</span> 
	<input id="CMDorScriptText" style="height:30px;width:580px" name='CMD' value="" >
	</div>
	</form>
</div>


<script >
 $(function() {

$(".radio").buttonset()
$("a").button()
 
$("select").combobox({panelHeight:"auto"})

$("#scriptopt").hide()
$("#_Item").hide()
$("#_Item").dialog()
$("#_Item").dialog("close")//init

$("#ChoiceCmd").click(function(){
	$("#scriptopt").hide()
	$("#CMDorScriptText").attr({"name":"CMD"})
})
 $("#ChoiceScript").click(function(){
	$("#scriptopt").show()
	$("#CMDorScriptText").attr({"name":"script"})
})

function bindingOneKeyItem(){
	$(".DelOneKeyItem").click(function(){
		if($(".DelOneKeyItem").size()!=1){
			$(this).parent('.OneKeyItem').remove()
		}
	})

	$(".EditOneKeyItem").click(function(){
		var prev=$(this).prev()
		var OnoKeyUrl=prev.val()
        if (OnoKeyUrl.indexOf("script=")>0){
			 $("#ChoiceScript").click()
		}else{
			 $("#ChoiceCmd").click()
		}
		strs=OnoKeyUrl.split("&")
		if(strs.length>1){
		for(var i in strs){
			var a=strs[i].split('=')
			var b=decodeURIComponent(a[1].replace(/\+/g, ' '))
			//if (a[0]=="SelectHostGroup"){$("#SelectHostGroup_{{Random}} select").combobox('setValue',b)}
			$("[name="+a[0]+"]").val(b)
			$("select[comboname="+a[0]+"]").combobox('setValue',b)
			}
		}else{$("#CMDorScriptText").val('')}
        
		$("#_Item").dialog({
						title: "编辑",
						width:610,
						resizable: false,
						buttons:{                     
							"确认":function(){
							 prev.val($("#Item_form").serialize())

							 $(this).dialog("close");
							},     
							"关闭": function (){
								$(this).dialog("close");
							}
						}
					});
		})
}

$("#AddOneKeyItem").click(function(){
	$('.OneKeyItem:last').clone().appendTo('#addonekey_div form');
	$(".DelOneKeyItem").unbind()
	$(".EditOneKeyItem").unbind()
	$('.onekeyurl:last').val('')
	bindingOneKeyItem()
})
bindingOneKeyItem()

})
</script>
</body>
</html>