<html>
<head>
{%include "jscss/loadbasejs.html"%}
</head>
<style>
*{font-size:12px}
</style>
<body>
<form id ="form_{{Random}}" action="" method='post' class="pull-right">
{%include "ajaxbutton.html"%}
<input type="checkbox" class="checkbox" name="sudo" value="1">非root用户都能sudo

 <table>
	<th>主机配置信息</th><th></th>
	  <tr><td><textarea style="height:500px;width:500px" name='Text'>
#样列：
#[group1]
#[group2]
别名1 root password 192.168.0.1 22
别名2 root password 192.168.0.2 22
#[/group2]
别名3 root password 192.168.0.3 22
#[group1]
	</textarea></td></tr>
</table>

 </form>
<hr>
{%include "ajaxjs.html"%}
</body>
</html>
