<html>
<script type="text/javascript" src="/static/tiny_mce/tiny_mce.js"></script>
{%include "jscss/loadbasejs.html"%}
<script type="text/javascript">
	tinyMCE.init({
		// General options
		mode : "textareas",
		theme : "advanced",
		language:"cn",
		skin : "o2k7",
		plugins : "autolink,lists,pagebreak,style,layer,table,save,advhr,advimage,advlink,emotions,iespell,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template,inlinepopups,autosave",

		// Theme options
		theme_advanced_buttons1 : "save,newdocument,|,bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,|,styleselect,formatselect,fontselect,fontsizeselect",
		theme_advanced_buttons2 : "cut,copy,paste,pastetext,pasteword,|,search,replace,|,bullist,numlist,|,outdent,indent,blockquote,|,undo,redo,|,link,unlink,anchor,image,cleanup,help,code,|,insertdate,inserttime,preview,|,forecolor,backcolor",
		theme_advanced_buttons3 : "tablecontrols,|,hr,removeformat,visualaid,|,sub,sup,|,charmap,emotions,iespell,media,advhr,|,print,|,ltr,rtl,|,fullscreen",
		theme_advanced_buttons4 : "insertlayer,moveforward,movebackward,absolute,|,styleprops,|,cite,abbr,acronym,del,ins,attribs,|,visualchars,nonbreaking,template,pagebreak,restoredraft",
		theme_advanced_toolbar_location : "top",
		theme_advanced_toolbar_align : "left",
		theme_advanced_statusbar_location : "bottom",
		theme_advanced_resizing : true,

		// Example word content CSS (should be your site CSS) this one removes paragraph margins
		content_css : "css/word.css",

		// Drop lists for link/image/media/template dialogs
		template_external_list_url : "lists/template_list.js",
		external_link_list_url : "lists/link_list.js",
		external_image_list_url : "lists/image_list.js",
		media_external_list_url : "lists/media_list.js",

		// Replace values for the template plugin
		template_replace_values : {
			username : "Some User",
			staffid : "991234"
		}
	});
</script>
<body>
<form action="" method="post">
<textarea style="height:400px;width:500px" name='text'>
</textarea>
<input type="submit" value="提交">
 <select name="select" id="select">
 <option> 111</option>
   <input type="checkbox" name="checkbox1" id="checkbox22"  value="123"/>123
<input type="checkbox" name="checkbox2" id="checkbox11"  value="123"/>123
<a href="/logout">out</a>
</form>
<hr>
{{var|safe}}
<span class="demo1" id="demo1_yellow"><b>RIGHT CLICK FOR DEMO</b></span>

    <div class="contextMenu" id="myMenu1">
      <ul>
        <li id="open"> Open</li>
        <li id="email"> Email</li>
        <li id="save"> Save</li>
        <li id="close"> Close</li>
      </ul>
    </div>
<hr>
{{request}}

<script>
//-----------------右键菜单
  
    $('.demo1').contextMenu('myMenu1', {
      bindings: {
        'open': function(t) {
          alert('Trigger was '+t.id+'\nAction was Open');
        },
        'email': function(t) {
          alert('Trigger was '+t.id+'\nAction was Email');
        },
        'save': function(t) {
          alert('Trigger was '+t.id+'\nAction was Save');

        },
        'delete': function(t) {
          alert('Trigger was '+t.id+'\nAction was Delete');

        }
      }
    });
	</script>
</body>
</html>
